# .env.example
NEXT_PUBLIC_SUPABASE_URL=https://xqzzeiiklltqhdzykydx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhxenplaWlrbGx0cWhkenlreWR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MTAyMTIsImV4cCI6MjA5MjQ4NjIxMn0.-5qchspUa7AyywE4e5EAk2ByqlPdZ4iAeQxqmIuv5Kc

# Get from cloudinary.com → Settings → Cloud Name
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
NEXT_PUBLIC_CLOUDINARY_API_KEY=123456789012
CLOUDINARY_API_SECRET=your_api_secret_here